<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Game {{ room }} | Octoshot | Github Game Off 2012</title>

    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/ui.css" />
    <style>
    </style>
  </head>
  <body class="ingame">
    <div id="ingame">
      <canvas id="canvas"></canvas>

      <div id="timer"></div>
      <div id="scores" class="overlay">
        <div>
          <h2>Scores</h2>
          <div class="results">
          </div>
          <div class="winner"><span></span> is the winner!</div>
          <div class="newgame"></div>
        </div>
      </div>
      
      <div id="fullRoom" class="overlay">
        <div>
          <p class="server">
            Sorry, but the whole game server is full right now. Try again later.
          </p>
          <div class="room">
            <p>Sorry, but this game is full.</p>
            <button class="play-find">Find another Game</button>
            <button class="play-start">Start a new Game</button>
          </div>
        </div>
      </div>

      <div id="notification"></div>
      <button class="fullscreen">Switch to Fullscreen</button>

      <div id="chat" class="closed">
        <div id="messages"></div>
        <div class="type">
          <div class="inner">
            <input id="message-input" type="text" name="message" autocomplete="off" />
          </div>
        </div>
      </div>

      <div class="initialOverlay">
        <p><strong>It looks like you haven't been here before</strong></p>
        
        <p>A few quick things:</p>

        <ul>
          <li>Use WASD or arrow keys to move around, and space to jump.</li>
          <li>In windowed mode, hit E to shoot and click and drag to look around.</li>
          <li>In fullscreen mode, use mouse to look around and click shoot.</li>
          <li>Hit F1 to bring a fully-function chat window!</li>
        </ul>
          
        <p>
          It's also <strong>highly</strong> recommend to play in
          fullscreen mode. Want to go fullscreen?
          <button class="start">Yes</button>
          <button class="no">No</button>
        </p>
      </div>
    </div>

    <script>
      window.sh = {};
      window.sh.util = {};
    </script>
    <script src="js/shade/gl-matrix.js"></script>
    <script src="js/shade/util.js"></script>
    <script src="js/shade/object.js"></script>
    <script src="js/shade/program.js"></script>
    <script src="js/shade/resources.js"></script>
    <script src="js/shade/scene.js"></script>
    <script src="js/shade/scenenode.js"></script>
    <script src="js/shade/mesh.js"></script>
    <script src="js/shade/cube.js"></script>
    <script src="js/shade/line.js"></script>
    <script src="js/shade/square.js"></script>
    <script src="js/shade/camera.js"></script>
    <script src="js/shade/renderer.js"></script>
    <script src="js/shade/mesh-loader.js"></script>
    <script src="js/shade/collision.js"></script>
    <script src="js/shade/quadtree.js"></script>
    <script src="js/shade/aabb.js"></script>
    <script src="js/shade/sound.js"></script>

    <script src="js/zepto.min.js"></script>
    <script src="js/lib/binary.js"></script>
    <script src="js/packets.js"></script>
    <script src="js/server-conn.js"></script>
    <script src="js/server-events.js"></script>
    <script src="js/messages.js"></script>
    <script src="js/gameButtons.js"></script>

    <script src="js/input.js"></script>
    <script src="js/simplex-noise.js"></script>
    <script src="js/terrain.js"></script>
    <script src="js/level.js"></script>
    <script src="js/entity.js"></script>
    <script src="js/player.js"></script>
    <script src="js/game.js"></script>
    <script src="js/stats.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
