<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Github Game Off 2012</title>

    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/ui.css" />
    <style>
    </style>
  </head>
  <body class="intro">
    <div id="intro">
      <h1>Octoshot</h1>
      
      <p><em>A 3d first person shooter for the web!</em></p>

      <p>
        Currently there are <strong>{{ roomCount }}</strong> games and
        <strong>{{ playerCount }}</strong> players!
      </p>

      {% if noroom %}
      <strong>
         There are no available games with open slots right now,
         perhaps start one and wait for others?
      </strong>
      {% endif %}

      <h3>Rules</h3>

      <ul class="rules">
        <li>Games can have 2-8 players</li>
        <li>Only headshots count -- but you have big heads!</li>
        <li>Everyone has 3 points of health (3 shots kills somebody)</li>
        <li>Use WASD or the arrow keys to move around</li>
        <li>
           If in fullscreen mode, shoot with a mouse click and look
           around with the mouse
        </li>
        <li>
          If in windowed mode, shoot with the E key and click and drag
          to look around
        </li>
        <li>Get the most kills in 5 minutes!</li>
      </ul>
      
      <button class="play-find">Find a Game</button>
      <button class="play-start">Start a Game</button>

      {% if currentRooms.length %}
      <h3>Current Games:</h3>

      <ul>
        {% for room in currentRooms %}
        <li>
          <a href="/{{ name }}">{{ room[0] }}</a>
          <em>({{ room[1] }} players)</em>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <script src="js/zepto.min.js"></script>
    <script src="js/gameButtons.js"></script>
  </body>
</html>
