
#chat {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    border: 1px solid grey;
    font-size: 14px;
    color: white;

    transition: right .5s;
}

#chat.closed {
    right: -50%;
}

#messages {
    height: calc(100% - 45px);
    overflow: auto;
}

#messages span.name {
    color: #ccffcc;
    margin-right: .25em;
    font-style: italic;
}

#messages .server {
    color: #afd3d4;
}

#messages .me {
    font-style: italic;
    color: #9999dd;
}

#messages > div {
    font-family: Monaco, monospace;
    font-size: 13px;
}

#messages img {
    max-height: 200px;
}

#messages a {
    color: #28b8dc;
}

.type {
    width: 100%;
    margin: 0;
    border-top: 1px solid grey;
    background-color: black;
}

.type .inner {
    padding: .5em;
    text-align: center;
}

.type input {
    margin: 0;
    padding: .5em;
    font-family: Monaco, monospace;
    font-size: 13px;
    width: 98%;
    background-color: black;
    color: white;
    border: 1px solid black;
}

#notification {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    text-align: center;
    color: black;
    padding: 1em;
    font-size: 20px;
    opacity: 0;
    z-index: 3;

    -webkit-transition: opacity 10s;
    -moz-transition: opacity 10s;
}

#notification.open {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    opacity: 1;
}
